:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-second-color: #f5f4fa;
  --background-dark-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/*основной цвет текста #757575*/
/*цвет заглавий #212121*/
/*белый #FFFFFF*/
/*акцент #2196F3;*/
/*background #E5E5E5*/
/*background2 #f5f4fa*/
/*background-hero: #2F303A;*/

/*Logo*/
.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-color {
  color: #2196f3;
}

.logo:hover {
  color: var(--accent-color);
}

/*Site-nav*/
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link .current {
  color: #2196f3;
}

/*Main*/
main {
  letter-spacing: 0.03em;
}

/*Hero*/
.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  background-color: #2f303a;
}

.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/*Sections*/
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*About Us*/
.about-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/*Work list*/

/*Our Team*/

.team {
  background-color: #f5f4fa;
}

.workers .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.workers .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*Footer*/
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
